<% layout('/layouts/boilerplateCode.ejs') -%>

    <div class="main index">
      <h1 ><%=heading%></h1>
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 all" >
        
        <%for(let doctor of doctors){%>
                  <%if(heading!="All Doctors"){%>
                  <a href="/appointment/viewpatients/<%=doctor._id%>" class="listings">
                    <%}else{%>
                      <a href="<%=doctor._id%>" class="listings">
                    <%}%>
                  <div class="card" >
                    <img src="<%=doctor.image.url%>" class="card-img-top index-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=doctor.name%></h5>
                      <p class="card-text"><%=doctor.specializations%>
                      </p>
                   
                    </div>
                  </div>
                </a>
            
        <%}%>
        </div>
    </div>



