<% layout('/layouts/boilerplateCode.ejs') -%>
<div class="row">
    <div class="card ones" style="width: 35rem;">
        <img src="<%=doctor.image.url%>"  class="card-img-top" alt="..." style="margin-top: 0.5rem;height:20rem;">
        <div class="card-body">
          <i>Owned by <%=doctor.owner.username%> </i>
          
          
        </div>
      </div>
      <div class="col-6 mt-3 description-box">
        <h5 class="card-title" style="font-weight: bold;"><%=doctor.name%></h5>
          <ul>
            <li><p>Specializations:&nbsp;<%=doctor.specializations%></li></p>
            <li><p>Book Appointment for just:&#8377;<%=doctor.price%></li></p>
            <li><p>Email-Id:<%=doctor.email%></li></p>
            <li><p>Contact No:&nbsp;<%=doctor.phone%></li></p>
            <li><p>Address:&nbsp;<%=doctor.address%></li></p>
            <li><p>Slots:&nbsp;<%=doctor.slots%></li></p>
          </ul>
        <p><b>Overview-</b><%=doctor.description%></p>
        <%if(currUser){%>
          <form action="/appointment/<%=doctor._id%>/<%=currUser._id%>">
          <button class="btn btn-success">Book</button>
          </form><%}%>
      </div>
      
    </div>
    <%if(currUser && currUser._id.equals(doctor.owner._id)){%>
      <div class="button">
        <form action="/<%=doctor._id%>/editlisting" method="GET">
            <button class="btn btn-secondary edit-btn"  >Edit Your Details</button>
          </form>
          <form action="/<%=doctor._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger delete-btn"><i class="fa-solid fa-trash"></i>Delete Profile</button>
          </form>
      </div>
      <%}%>
  <hr>

<div class="col-5 mb-3">
      <h4>Leave a review</h4>
      <div>
          <form action="/reviews/<%=doctor._id%>" method="post" class="needs-validation" novalidate>
              
          <div class="mb-3 mt-3">
              <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3 mt-1">
                  <label for="comment" class="form-label">Comments</label>
              <textarea name="review[comment]" id="comment" cols="30" rows="5"class="form-control" required></textarea>
          <div class="invalid-feedback">Add a comment!</div>
              
          </div>
          <button class="btn btn-outline-dark">Submit</button>
            </form>
      
      </div>
      </div>
<div class="col-12  mb-3">

      <%if(doctor.review.length>0){%>
      <hr>
          <h4>All reviews</h4>
      <div class="row">
      <%for(i of doctor.review){%>
      <div class="card col-3 mb-3 ms-3 reviewCard">
          <div class="card-body">
              <h5 class="card-title">@<%=i.author.username%></h5>
              <p class="starability-result card-text" data-rating="<%=i.rating%>"></p>
              <p class="card-text"><%=i.comment%></p>
              
          </div>
          <%if(currUser && currUser._id.equals(i.author._id)){%>
          <form method="post" action="/reviews/<%= doctor._id %>/<%=i._id%>?_method=DELETE" >
              <button class="btn btn-sm btn-dark mb-3">Delete</button>
          </form>
      <%}%>

      </div>
      <%}%>
  </div>
  <%}%>
  </div>
